.nav-container {
    width: 85vw;
    display: flex;
    max-width: 1740px;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-family: sans-serif;
}

.nav-header a {
    color: inherit;    
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16pt;
    font-weight: bold;    
}

.nav-items {
    display: flex;
    flex-direction: row;
    flex-grow: 1;    
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    list-style: none;  
}

.nav-item {
    font-weight: bold;
    padding-left: 1.5rem;
}

.nav-item-link {    
    color: inherit;
    text-decoration: none;
    font-size: 13pt;
}

.spotify-button { 
    text-decoration: none;
    border: solid 1px black;
    border-radius: 50px;
    color: rgb(42, 42, 42);    
    margin-left: 1.5rem;
    font-size: 13pt;
    font-weight: bold;
    padding: 8px 20px;
}