html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow: hidden;
    margin: 0;
    font-weight: normal;
    font-kerning: normal;
}

.container {
    background-color: rgb(255, 253, 250);
}