/* Index Page CSS */

.header {
    position: relative;
    text-align: center;
    color: rgb(255, 253, 250);
}

.headerTitle {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 40pt;
    line-height: 3.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.header-image {
    max-width: 100%;
    height: auto;
}

.bioContainer {
    border:purple solid 1px;
    display: flex;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding: 8rem 0;
}

.bioTitle {
    border: blue solid 1px;
}

.bioImage {
    border: blue solid 1px;
}

.bioText {
    border: blue solid 1px;
}

.featured-products {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}

.highlights-container {
    border: green solid 1px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    max-width: 1300px;
}

.highlights-tile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.3rem;
    width: 300px;
    height: 300px;
    background-color: black;
}

.highlights-title {
    position: absolute;
    transform: translate(-7%, -90%);
    text-transform: uppercase;
    font-size: 30pt;
    color: white;
}

/* Albums Page CSS */

.albums-container {
    display: flex;
    justify-content: center;
    border: red solid 1px;
    padding-bottom: 3rem;
}

.album-tile {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    max-width: 1220px;  
}