/* Index Page CSS */

.header-container {
    max-width: 85vw;  
    margin: auto;
}

.header-title {
    width: 60%;
    max-width: 750px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    line-height: 4rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: rgb(255, 253, 250);
    font-family: 'Bebas Neue', cursive;
    font-size: 50pt;
}

.header-picture {
    width: 100%;
    height: auto;
}

.bio-container {
    border:purple solid 1px;
    display: flex;
    width: 100%;
    max-width: 1220px;
    margin: auto;
    padding: 14rem 0;
}

.bio-titles {
    border: blue solid 1px;
    width: 20%;  
    padding-top: 15rem;
    margin-right: 3rem;    
    letter-spacing: 0.05rem;
}

.bio-titles h2 {
    text-transform: uppercase;
    font-size: 23pt;       
}

.bio-titles h3 {
    font-size: 17pt;
    letter-spacing: 0.1rem;
    padding-top: 1rem; 
}

.bio-picture {
    border: blue solid 1px;
    width: 32%;    
    margin-right: 3rem;
}

.bio-text {
    border: blue solid 1px;
    width: 40%;
    font-size: 14pt;
    line-height: 1.7rem;
    padding-right: 3rem;
    padding-top: 6rem;
}

.button {
    display: block;
    width: 9rem;
    text-decoration: none;
    color: black;
    font-size: 13pt;
    border: solid 1px black;
    border-radius: 2px;
    padding: 8px 18px;
    margin-top: 2rem;
}

.button:hover {
    color: white;
    background-color: black;
}

.highlights-container {
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    border: green solid 1px;
    justify-content: center;
    gap: 0.3rem;
    max-width: 1220px;
}

.highlights-tile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.3rem;
    width: 300px;
    height: 300px;
    background-color: black;
}

.highlights-title {
    position: absolute;
    transform: translate(-2%, -86%);
    text-transform: uppercase;
    font-size: 50pt;
    color: white;
    letter-spacing: 0.2rem;
    font-family: 'Bebas Neue', cursive;
}

/* Index Page CSS: Contact form */

.contact-container {
    border:purple solid 1px;
    width: 100%;
    max-width: 1220px;
    margin: auto;
    margin-top: 14rem;
    margin-bottom: 8rem;
    background-color: black;
    border-radius: 2px;
    padding: 2rem 0rem 2rem 0rem;
}

.contact-container h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 25pt;
    color: white;
    margin: 2rem 4rem 3rem 4rem;
    letter-spacing: 0.2rem;
}

.form {
    margin: 2rem 4rem;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    color: white;
}

.personal-data {
    width: 35%;
}

.message{
    width: 50%;
}
  
.form input {
    display: block;
    width: 100%;
    margin-bottom: 1.5rem;
    height: 1.5rem;
    font-size: 12pt;
    background-color: transparent;
    border: none;
    border-bottom: solid white 1px;
    padding-bottom: 0.5rem;
}

.form textarea { 
    display: block;
    width: 100%;
    height: 84px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    background-color: transparent;
    border: none;
    border-bottom: solid white 1px;
    padding-bottom: 0.3rem;
}

::placeholder { 
    color: white;
}  

input:focus, textarea:focus {
    color: white;
}

input, select, textarea{
    color: white;
}

.form button {
    display: block;
    background-color: transparent;
    color: white;
    border: solid white 1px;
    font-size: 12pt;
    font-weight: bold;
    padding: 0.5rem 2.2rem;
    margin-top: 7rem;
    margin-left: 1rem;
}

.form button:hover {
    background-color: white;
    color: black;
}

/* Albums Page CSS */

.info-container {
    display: flex;
    max-width: 1220px;
    margin: auto;
    padding: 8rem 0 2rem 0;
    /* border: solid green 1px; */
}

.info-container h2 {
    /* border: purple solid 1px; */
    width: 35%;
    font-family: 'Bebas Neue', cursive;
    font-size: 50pt;
    line-height: 4rem;
    letter-spacing: 0.2rem;
}

.text {
    /* border: purple solid 1px; */
    width: 65%;
    font-size: 14pt;
    line-height: 1.7rem;
    margin-top: 4.3rem;
    margin-left: 5rem;
}

.albums-container {
    display: flex;
    justify-content: center;
    border: red solid 1px;
    padding-bottom: 3rem;
    margin-top: 5rem;
}

.album-tile {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    max-width: 1220px;  
}

/* Album Template Page CSS */

.info-text {
    /* border: purple solid 1px; */
    font-size: 13pt;
    line-height: 1.7rem;
    margin-right: 150px;
    width: 720px;
}

.info-text h3,
.tracklisting-container h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 30pt;
    letter-spacing: 0.15rem;
    padding-top: 1rem;
}

.taxonomy {
    font-size: 16pt;
    font-weight: bold;
}

.album-cover {
    width: 350px;
    height: 350px;
    margin-top: 3rem;
}

.tracklisting-container {
    max-width: 1220px;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 4rem;
    /* border: solid green 1px; */
}

.tracklisting {
    width: 1180px;
    font-size: 14pt;
    line-height: 1.7rem;
}

.tracklisting span,
.tracklisting-container p {
    font-size: 12pt;
    font-weight: bold;
    padding-right: 0.2rem;
}

.video-container {
    max-width: 1220px;  
    margin: auto;
    padding: 0rem 0 3rem 0;
    /* border: solid green 1px; */
}

.video-container h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 30pt;
    letter-spacing: 0.15rem;
}

.iframe {
    /* Ratio 16:9 */
    margin-top: 1rem;
    width: 1220px;
    height: 686px;
}