/* Index Page CSS */

.header-container {
    position: relative;
    text-align: center;    
}

.header-title {
    width: 60%;
    max-width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 40pt;
    line-height: 3.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: rgb(255, 253, 250);
}

.header-picture {
    width: 100%;
    height: auto;
}

.bio-container {
    border:purple solid 1px;
    display: flex;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 18rem 0 22rem 0;
}

.bio-titles {
    border: blue solid 1px;
    width: 20%;  
    padding-top: 18rem;
    margin-right: 4rem;    
    letter-spacing: 0.1rem;
}

.bio-titles h2 {
    text-transform: uppercase;
    font-size: 26pt;       
}

.bio-titles h3 {
    font-size: 20pt;
    letter-spacing: 0.1rem;
    padding-top: 1rem; 
}

.bio-picture {
    border: blue solid 1px;
    width: 32%;    
    margin-right: 4rem;
}

.bio-text {
    border: blue solid 1px;
    width: 40%;
    font-size: 15pt;
    line-height: 2rem;
    padding-right: 3rem;
    padding-top: 9rem;
}

.button {
    margin-top: 4rem;
}

.button a {
    text-decoration: none;
    color: black;
    border: solid 1px black;
    padding: 14px 24px;
    margin-top: 2rem;
}

.featured-products {
    display: flex;
    justify-content: center;
}

.highlights-container {
    border: green solid 1px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    max-width: 1300px;
}

.highlights-tile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.3rem;
    width: 300px;
    height: 300px;
    background-color: black;
}

.highlights-title {
    position: absolute;
    transform: translate(-2%, -90%);
    text-transform: uppercase;
    font-size: 50pt;
    color: white;
    letter-spacing: 0.2rem;
    font-family: 'Bebas Neue', cursive;
}

.contact-container {
    border:purple solid 1px;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding: 8rem 0;
}

/* Albums Page CSS */

.text-container {
    display: flex;
    max-width: 1220px;
    margin: auto;
    padding: 8rem 0 8rem 0;
    border: solid green 1px;
}

.text-container h2 {
    /* border: purple solid 1px; */
    width: 35%;
    font-family: 'Bebas Neue', cursive;
    font-size: 50pt;
    line-height: 4.2rem;
    letter-spacing: 0.2rem;
}

.text {
    /* border: purple solid 1px; */
    width: 65%;
    font-size: 15pt;
    line-height: 2rem;
    margin-top: 3.6rem;
    margin-left: 3rem;
}

.albums-container {
    display: flex;
    justify-content: center;
    border: red solid 1px;
    padding-bottom: 3rem;
}

.album-tile {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    max-width: 1220px;  
}

/* Album Template Page CSS */

.album-cover {
    width: 350px;
    height: 350px;
    margin-top: 3rem;
}

.iframe {
    margin-top: 3rem;
    margin-bottom: 3rem;
}